body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.st-icon {
	width: 50px;
	height: 50px;
}

.xs-inline {
	display: inline;
}

.stocktwits-div-control {
	width: 100%;
	height: 600px;
	border-radius: 4px;
	padding: 0px;
}

.stocktwits-control {
	padding: 0px;
	width: 100%;
}

#finHighlights {
	min-width: 20%;
}

#chart {
	vertical-align: bottom;
}

section[flex="70"] {
  background-color: #E8FCD6;
}

.tickerEntry {
	width: 50%;
}

.md-card {
	padding-top: 16px !important;
}

.md-card-title {
	padding-top: 16px !important;
}


.contentdemoBasicUsage div.demo-content {
  height: 600px; }
.contentdemoBasicUsage div[ng-controller] {
  height: 100%;
  padding-bottom: 15px; }
.contentdemoBasicUsage md-content {
  padding: 24px; }


    body {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    rect.pane {
        cursor: move;
        fill: none;
        pointer-events: all;
    }