body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.st-icon {
	width: 50px;
	height: 50px;
}

.xs-inline {
	display: inline;
}

.stocktwits-div-control {
	width: 100%;
	height: 600px;
	border-radius: 4px;
}

.stocktwits-control {
	padding: 0px;
	width: 100%;
}

section[flex="70"] {
  background-color: #E8FCD6;
}


.contentdemoBasicUsage div.demo-content {
  height: 600px; }
.contentdemoBasicUsage div[ng-controller] {
  height: 100%;
  padding-bottom: 15px; }
.contentdemoBasicUsage md-content {
  padding: 24px; }

/*.contentdemoBasicUsage div.demo-content {
  height: 400px; }
.contentdemoBasicUsage div.demo-content {
  width: 300px; }  
.contentdemoBasicUsage div[ng-controller] {
  height: 600px;
  padding-bottom: 15px; }
.contentdemoBasicUsage md-content {
  padding: 24px; }*/