<md-dialog aria-label="" class="login-dialog" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Registration</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="client/libs/angular-material/demos/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
    <md-dialog-content>
    <!-- <br> -->
    <span flex></span>
      <md-input-container class="md-block">
        <md-icon md-svg-src="client/libs/angular-material/demos/input/demoicons/icons/ic_email_24px.svg" class="email"></md-icon>
        <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon class="password" md-svg-src="client/libs/angular-material/demos/input/demoicons/icons/ic_input_black_24px.svg"></md-icon>
        <input ng-model="user.password" type="password" placeholder="Password (required)" ng-required="true">
      </md-input-container>
      <div layout="row" layout-align="end center">
      <span flex="80"> </span>
      <md-button flex="20" class="md-raised md-primary">Register</md-button>
      </div>
    </md-dialog-content>  
    </md-dialog-content>
    
  </form>
</md-dialog>
