<div layout="row" flex="100" class="tickerEntry" layout-padding>
  
  <md-content class="md-padding md-whiteframe-z1">
    <form ng-submit="getStockAPIs()" name="searchForm" autocomplete="off">
      <div layout-gt-sm="row">
        <md-input-container flex>
          <label>Enter Ticker Symbol</label>
          <input type="text" ng-model="ticker" />
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" type="submit">Go</md-button>
         
          <h2> &#160; {{stockDetail.Name}} &#160;${{stockDetail.LastTradePriceOnly}} &#160; &#160;</h2><h2>{{stockDetail.ChangeinPercent}}</h2>
        
        </section>
        <!-- consider auto complete (off) to stop chrome from showing previously entered info-->
      </div>
    </form>
  </md-content>
  
</div>
<div layout="row" layout-sm="column" ng-cloak>
  <!-- <h3>Main Controller working</h3> -->
  <div flex="25" class="boxWithHeight" layout-padding>
    <div layout="column" ng-cloak="" class="stocktwits-div-control md-whiteframe-z1">
      <md-toolbar class="md-primary" style="z-index:1">
        <div class="md-toolbar-tools">
          <h2 class="md-flex md-display-2">StockTwits Feed</h2>
        </div>
      </md-toolbar>
      <md-content flex layout-padding>
        <div ng-repeat='message in messages' class="stocktwits-control">
          <div layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text class="xs-inline">
                  <md-icon class="lg-avatar-icon st-icon">
                    <img src="{{message.user.avatar_url}}">
                  </md-icon>
                  <span class="md-headline">{{message.user.username}}</span>
                  <div class="md-subhead">{{message.body}}</div>
                </md-card-title-text>
              </md-card-title>
            </md-card>
          </div>
        </div>
      </md-content>
    </div>
  </div>
  <div layout="column" class="boxWithHeight" layout-padding id="finHighlights">
    <!-- <section flex="60"> -->
      <!-- Financial Highlights Table-->
      <div layout="column" ng-cloak="" class="stocktwits-div-control md-whiteframe-z1">
        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">
            <h2 class="md-flex">Financial Highlights</h2>
          </div>
        </md-toolbar>
        <md-table-container>
          <table md-table ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="onReorder">
            </thead>
            <tbody md-body>
              <tr md-row>
                <td md-cell><b>Name</b></td>
                <td md-cell>{{stockDetail.Name}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Stock Exchange</b></td>
                <td md-cell>{{stockDetail.StockExchange}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Market Capitalization</b></td>
                <td md-cell>{{stockDetail.MarketCapitalization}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>PEG Ratio</b></td>
                <td md-cell>{{stockDetail.PEGRatio}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Price Book</b></td>
                <td md-cell>{{stockDetail.PriceBook}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Price Sales</b></td>
                <td md-cell>{{stockDetail.PriceSales}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>EBITDA</b></td>
                <td md-cell>{{stockDetail.EBITDA}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>EPS Estimate Current Year</b></td>
                <td md-cell>{{stockDetail.EPSEstimateCurrentYear}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>EPS Estimate Next Quarter</b></td>
                <td md-cell>{{stockDetail.EPSEstimateNextQuarter}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>EPS Estimate Next Year</b></td>
                <td md-cell>{{stockDetail.EPSEstimateNextYear}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Earnings Share</b></td>
                <td md-cell>{{stockDetail.EarningsShare}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Change From Year High</b></td>
                <td md-cell>{{stockDetail.ChangeFromYearHigh}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Change From Year Low</b></td>
                <td md-cell>{{stockDetail.ChangeFromYearLow}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Dividend Share</b></td>
                <td md-cell>{{stockDetail.DividendShare}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Dividend Yield</b></td>
                <td md-cell>{{stockDetail.DividendYield}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Dividend Pay Date</b></td>
                <td md-cell>{{stockDetail.DividendPayDate}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Ex Dividend Date</b></td>
                <td md-cell>{{stockDetail.ExDividendDate}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Short Ratio</b></td>
                <td md-cell>{{stockDetail.ShortRatio}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Year High</b></td>
                <td md-cell>{{stockDetail.YearHigh}}</td>
              </tr>
              <tr md-row>
                <td md-cell><b>Year Low</b></td>
                <td md-cell>{{stockDetail.YearLow}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <!-- <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination> -->
      </div>
    <!-- </section> -->
  </div>
  <div id="chart">
  </div>
</div>
